body{
    margin: 0;
    font-family: 'Bangers', cursiveArial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 25px;
    background-color: #f7e9b5;
}
header{
    background-color: #ffa237;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}



header h1{
    color: white;
    -webkit-text-stroke-color:black;
    -webkit-text-stroke-width: 1px;
    font-size: 50px;

}

header img{
    width: fit-content;
    max-width: 100%;
    filter: drop-shadow(10px 10px 10px black);
}

img.circle{
    width: 300px;
    border-radius: 170px;
    border: 10px solid #b57436;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

img.animate{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main{
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
}

h2{
    font-size: 30px;
    margin: 40px 0 10px;
}

a{
    color:black;
    font-size: 20px;
}
a:hover{
    color: grey;
}

footer{
    background-color: #ffa237;
    text-align: center;
    color: white;
    padding: 50px;
}

footer p{
    margin: 0;
}

footer a{
    color: white;
}

p.caption{
    color: #999;
    font-style: italic;
    margin-top: 0;
    text-align: center;
    font-size: 15px;
}

li{
    font-size: 22px;
color: white;
-webkit-text-stroke-color: black;
-webkit-text-stroke-width:0.8px ;
}